@font-face {
    font-family: "Code New Roman";
    src: url("Code New Roman.otf");
}

body, html {
    margin: 0;
    height: 200svh;
    width: 100%;
    min-height: 436px;
}

.mainWindow {
    background-color: #f5fffe;
    height: 100svh;
    width: 100%;
}

.main{
    background-image: linear-gradient(white 0% 5%, #f5fffe 65%);
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 12svh 80svh 8svh;
}

.mainTextLowLeft{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: -2;
    align-self: end;
    font-family: "Code New Roman" , Helvetica, serif;
    font-size: 1.3vw;
    margin-left: 0.5svw;
    margin-bottom: 0.5vh;
    text-decoration: underline;

}

.metaTextTopLeft{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
    font-family: "Code New Roman" , Helvetica, serif;
    font-size: 1.3vw;
    margin-left: 0.5svw;
    margin-top: 0.5vh;
    text-decoration: underline;
}

.textPanelContainer{
    height: 100%;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.HTMLTextView{
    margin-left: 40px;
    width: 46%;
    height: 90%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 2px black;
    overflow: hidden;
}

#sourceView{
    display: block;
    width: calc(100% - 10px);
    height: calc(100% - 5px);
    overflow: auto;
    word-wrap: break-word;
    white-space: pre-wrap;
    font-family: "Code New Roman" , Helvetica, serif;
    font-size: 0.9vw;
    border-radius: 10px 0 0 10px;
    padding: 5px 5px 0 5px;
    border: 0;
    resize: none;
    scrollbar-gutter: stable;
}

#sourceView:focus{
    outline: none;
}

.editorText{
    background-color: aliceblue;
    height: 90%;
    width: 46%;
    border-radius: 10px;
    box-shadow: 0 0 2px black;
}

.textPanelText{
    height: 100%;

}

.tox-statusbar__branding{
    display: none;
}

.tox-statusbar__path-item{
    visibility: hidden;
}

.editorPanelContainer{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#sepFuncPanel{
    margin-top: 5vh;
    width: 60%;
    height: 50%;
    background-color: white;
    border-radius: 10px;
    display: grid;
    grid-auto-flow: column;
    box-shadow: 0 0 2px black;
    min-height: 20px;
}

#allInOneButton{
    margin-top: 5vh;
    margin-left: 20px;
    width: 7%;
    height: 50%;
    background-color: white;
    border-radius: 10px;
    display: grid;
    box-shadow: 0 0 2px black;
    min-height: 20px;

}

.sepButton{
    border-radius: 10px;
    overflow: hidden;
}


.firstInstrButton{
    border-radius: 10px 0 0 10px;
}

.lastInstrButton{
    border-radius: 0 10px 10px 0;
}

.instrButton{
    font-size: 1.2vw;
    font-family: "Code New Roman" , Helvetica, serif;
    border: 0;
    padding: 0;
    background-color: white;
    min-height: 20px;
    box-shadow: 0 0 2px black;

}

.instrButton:hover{
    background-color: gray;
    text-decoration: underline;
}

.metaMenu{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(#f5fffe, white);
    display:grid;
    grid-template-columns: 5% 20% 20% 50% 5%;
    grid-template-rows: 2vh auto;
}

.borderLine{
    background-color: black;
    box-shadow: 0 0 2px black;
    height: 1px;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row: 1;
}

.metaTagInputContainer{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 2;
    height: 90%;
    width: 80%;
    background-color: aliceblue;
    align-self: center;
    justify-self: center;
    border-radius: 7px;
    box-shadow: 0 0 2px black;
    overflow: hidden;
}

#metaTagInputPanel{
    border-radius: 7px;
    width: calc(100% - 10px);
    height: calc(100% - 5px);
    padding: 3px 5px 0 5px;
    border: 0;
    resize: none;
    overflow: auto;
    scrollbar-gutter: stable;
    scrollbar-width: thin;
    word-wrap: break-word;
    white-space: pre-wrap;
    font-family: "Code New Roman" , Helvetica, serif;
    font-size: 1vw;
}

#metaTagInputPanel:focus{
    outline: none;
}

.metaTagInputCounter{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: 2;
    height: 90%;
    width: 90%;
    background-color: #fbfbfb;
    align-self: center;
    justify-self: center;
    border-radius: 7px;
    box-shadow: 0 0 2px black;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
}

.metaTagControlPanel{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row: 2;
    height: 90%;
    width: 80%;
    background-color: aliceblue;
    align-self: center;
    justify-self: center;
    border-radius: 7px;
    box-shadow: 0 0 2px black;

}

#metaTagInputCounterHeadRow{
    width: 100%;
    height: 14px;
    background-color: #edefef;
    border-radius: 7px 7px 0 0;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
    font-family: "Code New Roman", Helvetica, serif;
    font-size: 1vw;
}

#metaTagInputCounterHeadRowLabel1{
    width: 35%;
    height: 14px;
}

.metaTagInputCounterBaseRow1{
    width: 100%;
    min-height: 14px;
    background-color: #fbfbfb;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    font-family: "Code New Roman", Helvetica, serif;
    font-size: 1vw;
}

.metaTagInputCounterBaseRow2{
    width: 100%;
    min-height: 14px;
    background-color: #edefef;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    font-family: "Code New Roman", Helvetica, serif;
    font-size: 1vw;
}

.metaTagInputCounterName{
    width: 40%;
    min-height: 14px;
    max-height: 56px;
    margin-left: 2%;
    overflow-wrap: break-word;
    overflow: auto;
    scrollbar-width: thin;
}

.metaTagInputCounterDeleteButton{
    width: 9%;
    padding: 0;
    align-self: flex-start;
    border: 0;
    background-color: transparent;
}

.metaTagInputCounterDeleteButton:hover{
    text-decoration: underline;
    cursor: pointer;
}

.metaTagInputCounterCounter{
    background-color: #e1e1e1;
    width: 15%;
    height: 100%;
    overflow: hidden;
    text-align: center;
}

.metaTagInputCounterIsDescr{
    width: 15%;
    text-align: center;

}

.metaTagInputCounterIsTitle{
    width: 17%;
    text-align: center;
}
